{% extends '::panel.html.twig' %}

{% set page_name = 'Informații setare' %}

{% block title %}
	{{ page_name }} : Panou Administrator
{% endblock %}

{% block body_title %}
	<h1>{{ page_name }}</h1>
{% endblock %}

{% block body %}
	<div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"></div>

            <div class="panel-body">
                    <table class="table table-responsive table-bordered">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td>{{ settings.id }}</td>
                        </tr>
                        <tr>
                            <th>Nume</th>
                            <td>{{ settings.name }}</td>
                        </tr>
	                    <tr>
		                    <th>Valoare</th>
		                    <td>
			                    {{ settings.value }}
		                    </td>
	                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel-footer">
                <div class="btn-group">
                    <a href="{{ path('panel_setting_index') }}" class="btn btn-default">Înapoi la listă</a>
                    <a href="{{ path('panel_setting_edit', { 'id': settings.id }) }}" class="btn btn-primary">Modifică</a>
                </div>
                {{ form_start(delete_form) }}
                <input type="submit" value="Șterge" class="btn btn-danger">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
